<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="listenerClasses.Listeners" />
	</listeners>
	<test name="HomePage">
		<classes>
			<class name="Academy.E2EProject.HomePage" />
		</classes>
	</test>
	<test name="ContactNevigation">
		<classes>
			
			<class name="Academy.E2EProject.ContactNevigation" />
		</classes>
	</test>
	<test name="ValidateText">
		<classes>
			<class name="Academy.E2EProject.ValidateText" />
		</classes>
	</test>
</suite> <!-- Suite -->
